body{
        background-image: url(https://image.freepik.com/free-vector/modern-yellow-gradient-trendy-background_77417-1017.jpg);
        background-size: 100%;
        background-repeat: repeat-y;
}
h1{
    text-align: center;
    color: green;
}
h2{
    color: green;   
}
h3{
    color: green;
}
a{
        color:green;
}
